<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <!-- All non-disabled sources are active. -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageRestore>
    <!-- Allow NuGet to download missing packages. -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio. -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!-- Used to specify the default Sources for list, install and update. -->
  <packageSources>
    <clear />
    <add key="artifactory_enterprise" value="https://artifactory.internal.cba/api/nuget/digital-platform" protocolVersion="2" />
    <add key="artifactory_enterprise_api" value="https://artifactory.internal.cba/artifactory/api/nuget/digital-platform" protocolVersion="2" />
    <add key="digitalchannel" value="https://artifactory.internal.cba/api/nuget/digital-channel-nuget/" protocolVersion="2" />
    <add key="CDS" value="https://artifactory.internal.cba/api/nuget/cds-commbankapi-nuget" protocolVersion="2" />
    <add key="Helix_Api" value="https://artifactory.internal.cba/api/nuget/assistedchannels-helix-nuget" protocolVersion="2" />
    <add key="Dev_Nuget" value="https://artifactory.internal.cba/api/nuget/digitalchannels-relspecific-nuget-r570-dev" protocolVersion="2" />
    <add key="NuGet" value="https://artifactory.internal.cba/api/nuget/nuget.org" protocolVersion="2" />
    <add key="Assisted_Nuget" value="https://artifactory.internal.cba/api/nuget/assisted-nuget-release-local" protocolVersion="2" />
    <add key="Open_Banking_Dev" value="https://artifactory.internal.cba/api/nuget/digitalchannels-openbanking-nuget-dev-local" protocolVersion="2" />
  </packageSources>
  <packageSourceCredentials>
    <artifactory_enterprise>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </artifactory_enterprise>
    <artifactory_enterprise_api>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </artifactory_enterprise_api>
    <digitalchannel>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </digitalchannel>
    <CDS>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </CDS>
    <NuGet>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </NuGet>
    <Open_Banking_Dev>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </Open_Banking_Dev>
    <Assisted_Nuget>
        <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />      
        <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </Assisted_Nuget>
        <Helix_Api>
            <add key="username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
            <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
        </Helix_Api>
        <Dev_Nuget>
            <add key="username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
            <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
        </Dev_Nuget>
  </packageSourceCredentials>
</configuration>
